* {
  margin-left: auto;
  margin-right: auto;
}
body{
  font-family: 'Rubik', sans-serif;
}
.button-wrapper{
  text-align: center;
}
.header{
  padding-top: 50px;
  padding-bottom: 35px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: DodgerBlue;
}
button{
  font-family: 'Rubik', sans-serif;
  background-color: #1E90FF;
  color: white;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
}
select{
  padding: 10px 20px;
  font-size: 15px;
  background-color: white;
  color: DodgerBlue;
}
table{
  padding-top: 35px;
}
tr,td{
    border:1px;
    border-style: solid;
    border-radius: 10px;
    border-color: orange;
}
td{
    height: 50px;
    width: 50px;
    background-color: white;
}
